// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #134da3;

// Links
$nav-link-color: #2e3135;
$nav-pills-link-active-bg: #134da3;
$component-active-color: white;
$nav-pills-border-radius: 0.375rem 0 0 0.375rem;
