// Body
$body-bg: #f5f5f5;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #134da3;

// Links
$nav-link-color: rgba(255,255,255,.7);
$nav-link-hover-color: #fff;
$nav-pills-link-active-color: #fff;

$nav-pills-border-radius: 0;
// $nav-pills-link-active-bg: rgba(42, 40, 53, 0.7)!important;
// $nav-pills-border-radius: 0.375rem 0 0 0.375rem;


// Tables
$table-border-color: #373b3e70;
$table-bg: transparent;
$table-striped-bg: #2c30345e;
$table-hover-bg: #3235399e;


// Gutters
$grid-gutter-width: 0;
